<!DOCTYPE html>
<html lang="en" fs-5>

<head>
  <!-- Requir
        style="height: 45px;"ed meta tag50-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700&display=swap"
    rel="stylesheet" />
  <!-- icons > font-awesome -->
  <script src="https://kit.fontawesome.com/3b1cc6c86a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/style.css" />

  <!-- favicon -->
  <link rel="shortcut icon" type="image/jpg" href="../images/logos/favicon.png" />
  <title>Login - Finansee</title>
</head>

<body>
  <!-- Header > navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-none shadow-sm py-1 px-lg-5">
    <div class="container">
      <a class="navbar-brand col-4 ms-2" href="/"><img src="../images/logos/header-logo.png" alt="logo"
          style="width: 175px" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse col-8" id="navbarSupportedContent">
        <ul class="navbar-nav ms-lg-auto ms-3 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./findcoach.html">Find a coach</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-5" aria-current="page" href="./coachapplication.html">Become a
              coach</a>
          </li>
          <li class="nav-item ms-2 mb-2">
            <a class="nav-link active" aria-current="page" href="./coachdashboard.html">Coach
              Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- main section -->
  <div class="container auth-container w-50 mb-5">
    <h1 class="text-center mt-5 fw-light">Welcome back to Finansee</h1>
    <span class="text-center d-block mb-1 mt-3">*Test Credentials:
      <b class="ms-3">Username-</b> fin_test
      <b class="ms-3">Password- </b> fin@pass
    </span>
    <!-- input form -->
    <form action="./dashboard.html" class="w-75 m-auto auth-form">
      <!-- email address -->
      <div class="mb-4">
        <input type="email" class="form-control rounded-pill border-3 border-success ps-4 fs-5" id="email"
          placeholder="Email address" style="height: 50px" required />
      </div>
      <!-- password -->
      <div class="mb-4">
        <input type="password" class="form-control rounded-pill border-3 border-success ps-4 fs-5" id="password"
          placeholder="Password" style="height: 50px" required />
      </div>
      <section class="d-flex">
        <button class="btn btn-success rounded-pill w-50 mt-4 mx-auto auth-btn" style="height: 45px">
          <p style="font-size: 25px">Login</p>
        </button>
      </section>
    </form>
  </div>

  <!-- Footer -->
  <footer class="bg-success mt-5" id="footer-elements">
    <div class="container bg-success">
      <div class="row py-4 mx-0">
        <!-- logo & details -->
        <div class="col-2 pe-0">
          <img src="../images/logos/finansee-footer.png" alt="" style="width: 145px; height: 115px" />
        </div>
        <div class="col-4 ps-0 text-white">
          <h5 class="mt-2">Finansee</h5>
          <p class="mx-auto mb-2 fs-5">Copyright &copy; 2021</p>
          <a href="#" target="_blank" class="m-auto fs-5 fw-lighter text-decoration-none text-white">Terms of
            Service</a>
          |
          <a href="#" target="_blank" class="m-auto fs-5 fw-lighter text-decoration-none text-white">Privacy Policy</a>
        </div>
        <!-- links -->
        <div class="col-3 fw-light">
          <a href="/" class="d-block text-white text-decoration-none mt-2 fs-5">Home</a>
          <a href="./findcoach.html" class="d-block text-white text-decoration-none my-1 fs-5">Find a
            coach</a>
          <a href="./coachapplication.html" class="d-block text-white text-decoration-none fs-5">Become a
            coach</a>
        </div>
        <!-- contacts -->
        <div class="col-3 text-white">
          <a class="mb-auto text-white text-decoration-none fs-5 fw-lighter"
            href="mailto:help@finansee.com">help@finansee.com</a>
          <a class="my-2 text-white text-decoration-none fs-5 fw-lighter d-block" href="tel:+55 99 9999-9999">+55 99
            9999-9999</a>
          <div>
            <a href="https://www.linkedin.com/" class="fab fa-linkedin-in text-decoration-none text-white fs-5"
              target="_blank"></a>
            <a href="https://twitter.com/" class="fab fa-twitter text-decoration-none text-white fs-5 mx-3"
              target="_blank"></a>
            <a href="https://www.facebook.com/" class="fab fa-facebook-f text-decoration-none text-white fs-5"
              target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
</body>

</html>